<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.rails.physicals.mapper.CheckupItemMapper">

    <resultMap type="cn.rails.physicals.entity.CheckupItem" id="checkupItemMap">
        <id property="id" column="id"/>
        <result property="chineseName" column="chinese_name"/>
        <result property="englishName" column="english_name"/>
        <result property="fieldName" column="field_name"/>
        <result property="abbreviation" column="abbreviation"/>
        <result property="chineseExplain" column="chinese_explain"/>
        <result property="classification" column="classification"/>
        <result property="miximum" column="miximum"/>
        <result property="maximum" column="maximum"/>
        <result property="unit" column="unit"/>
        <result property="referenceDescription" column="reference_description"/>
        <result property="createId" column="create_id"/>
        <result property="createDate" column="create_date"/>
        <result property="updateId" column="update_id"/>
        <result property="updateDate" column="update_date"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="allSql">
		id,chineseName,englishName,fieldName,abbreviation,chineseExplain,classification,miximum,maximum,unit,referenceDescription,create_id,create_date,update_id,update_date,del_flag
	</sql>







</mapper>